*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}
.conteiner {
    max-width: 1070px;
    margin: 0 auto;
}
.header {
    background-color: #FF714345;
    padding: 38px 0 48px;
}
.header_flex, .footer_flex, .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_li{
    display: inline-block;
}
.nav_li:not(:first-of-type) {
    margin-left: 49px;
}
.nav_link{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #19191B;
    text-decoration: none;
}
.nav_link:hover{
    color: black;
    transition: 300ms;
}
.button{
    width: 212px;
    height: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button_orange{
    background-color: orangered;
}
.button_orange:hover{
    background-color: rgb(222, 99, 55);
    transition: 500ms;
}
.about{
   margin: 104px auto 85px;
}
.about_title{
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 465px;
    margin-bottom: 30px;
}
.about_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 464px;
    margin-bottom: 50px;
}
.button_blue{
    background: rgba(84, 84, 212, 1);
}
.button_transparent{
    background: none;
    color: rgba(84, 84, 212, 1);
    border: 1px solid #5454D4;
    margin-left: 35px;
}
.button_blue:hover{
    background-color:  rgb(58, 58, 210);
    transition: 500ms;
}
.button_transparent:hover{
    background-color:  rgb(197, 197, 217);
    transition: 500ms;
}
.footer{
   background-color: #FF714345;
   padding: 38px 0 48px;
}
























